In [1]:
import pandas as pd

In [4]:
#1st way to create dataframe
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
#2nd way to create dataframe
df = pd.read_excel('weather.xlsx','Sheet1')
df

   days  weather
0     1       54
1     2       45
2     3       59
3     4       42
4     5       41
5     6       46
6     7       78

In [15]:
#3rd way to create dataframe
weather = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017','1/4/2017'],
    'temperature' : ['32', '24', '24', '25'],
    'windspeed' : ['2', '3', '4', '5'],
    'event' : ['rain', 'sunny', 'snow', 'rain']
}
df = pd.DataFrame(weather)   
df

        day temperature windspeed  event
0  1/1/2017          32         2   rain
1  1/2/2017          24         3  sunny
2  1/3/2017          24         4   snow
3  1/4/2017          25         5   rain

In [16]:
#4th way to create dataframe
weather = [
     ['1/1/2017', '32', '2', 'rain'],
     ['1/2/2017', '24', '3', 'sunny'],
     ['1/3/2017', '24', '4', 'snow'],
     ['1/4/2017', '25', '5', 'rain']
]
df = pd.DataFrame(weather, columns = ['days', 'temperature', 'windspeed', 'event'])
df

       days temperature windspeed  event
0  1/1/2017          32         2   rain
1  1/2/2017          24         3  sunny
2  1/3/2017          24         4   snow
3  1/4/2017          25         5   rain

In [18]:
#5th way to create dataframe
weather = [
    {'days' : '1/1/2020', 'temperature' : '32', 'windspeed' : '2', 'event' : 'rain'},
    {'days' : '1/2/2020', 'temperature' : '24', 'windspeed' : '3', 'event' : 'sunny'},
    {'days' : '1/3/2020', 'temperature' : '24', 'windspeed' : '4', 'event' : 'snow'},
    {'days' : '1/4/2020', 'temperature' : '25', 'windspeed' : '5', 'event' : 'rain'}
]
df = pd.DataFrame(weather)
df

       days temperature windspeed  event
0  1/1/2020          32         2   rain
1  1/2/2020          24         3  sunny
2  1/3/2020          24         4   snow
3  1/4/2020          25         5   rain